<?xml version="1.0" ?>
<launch>
    <!-- Load standard constellation of processing nodelets -->
    <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch" >
      <arg name="robot_ip"                         value="192.168.1.100 " />
      <arg name="kinematics_config"                value="/home/river/ur3e_calibration.yaml" />
    </include>
</launch>
